{{!-- This file should have some type of semantic tag that will hold the totle of the blog post, the actual text itself, the name of the user, and maybe the time it was created --}}

<article class="post">
    <div class="post-header">
        <h2><a href="{{!-- route to the blog --}}">{{!--title of the blog--}}</a></h2>
    </div>
    <div>
        <p class="post-text">{{!-- the blog's text --}}</p>
    </div>
    <div>
        <p>{{!-- This is where the name of the blog creator goes and the date it was posted--}}</p>
    </div>
</article>