{{!-- This page will be the framework for every other page to work off of, This is also the main handlebar that should be sent down --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{!--file path to css/style.css--}}">
    <title>Tech Blog</title>
</head>
<body>
    
     <header>
         <nav>
             <a href="/" class="home">Home</a>
             <a href="/blogs">Blog Posts</a>
             {{#if loggedIn}}
             <a href="/">Logout</a>
             {{else}}
             <a href="/login">Login</a>
             {{/if}}
         </nav>
     </header>

     <main>
         {{{ body }}}
     </main>

    {{#if loggedIn}}
    <script src="{{!--file path to javascript/logout.js--}}"></script>
    {{/if}}

</body>
</html>