{{!-- This file will allow a user to either update or delete a blog. This file should contain the original title of the blog, an input field for changing the name or content of the blog, and a button to either update or delete the post --}}

<section>
    <h2>Edit blog</h2>
    <form>
        <label>Title</label>
        <input type="text" />
        <label>Blog content</label>
        <input type="text" />
        <button type="submit">Update blog</button>
        <button type="button">Delete blog</button>
    </form>
</section>

<script src="{{!--file path to javascript/update_post.js--}}"></script>
<script src="{{!--file path to javascript/delete_post.js--}}"></script>