{{!-- This file is almost the same as the all_posts page. The landing page will display all of the blog posts--}}

<article>  
    {{#each posts as |post|}}
        <h1>{{post.title}}</h1>
        <p>{{post.post_text}}</p>
    {{/each}}

</article>