{{!-- This file will have all information regarding a user logging in --}}

<section>
    <h2>Login</h2>
    <form>
        <label>Email</label>
        <input type="text" />
        <label>Password</label>
        <input type="text" />
        
        <button type="submit">Login</button>
        <a href="{{!--file path to javascript/signup.js--}}">Sign up</a>
    </form>
</section>

<script src="{{!--file path to javascript/login.js--}}"></script>