{{!-- This file will allow the user to sign up. This will ask the user for their email and to provide a password. It will then have a button that allows them to finish signing up --}}

<section>
    <h2>Sign up</h2>
    <form>
        <label>Email</label>
        <input type="text" />
        <label>Password</label>
        <input type="text" />

        <button type="submit">Submit</button>
        <a href="{{!--Sends the user to login if they already have an account--}}">Login</a>
    </form>
</section>

<script src="{{!--file path to javascript/signup.js--}}"></script>